/* pre defind tag */
/* body */
body{
    padding: 0px;
    margin: 0px;
    background: #d3d3d3;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
/* header */
header{
    left: 0px;
    margin-top: 10px;
    width: 100%;
    font-size: 45px;
    font-family: American Typewriter;
    text-align: center;
}
/* line */
hr{
    margin-top: 10px;
    width: 99%;
    height: 1px;
}