/* pre defind tag */
/* body */
body{
    padding: 0px;
    margin: 0px;
    background: #d3d3d3;
}
/* header */
header{
    margin-top: 10px;
    width: 100%;
    font-size: 45px;
    font-family: American Typewriter;
    text-align: center;
}
/* line */
hr{
    margin-top: 10px;
    width: 99%;
    height: 1px;
}
/* footer */
footer{
    bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 100%;
    position: fixed
}
/* ids */
/* total */
#total{
    font-size: 25px;
    font-family: American Typewriter;
    text-align: center;
}